
body {
  font-family: 'Roboto', sans-serif;
  background-color: #eff7ea;
  color: #111111;
  margin: 0;
  padding: 0;
}



h1 {
  margin-bottom: 10px;
}

main {
  max-width: 800px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.bloco {
  background-color: rgb(209, 247, 221);
  padding: 30px;
  border-radius: 35px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;


}

.bloco:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 14px rgba(0, 0, 0, 0.15);
}


#avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 3px solid #ccd4dd;
  box-shadow: 25px 0 25px rgba(14, 13, 13, 0.3);

}

#introduction {
  font-size: 1.2em;
  margin-bottom: 10px;
}
#bloco-apresentacao p {
  font-size: 1.3em;
  line-height: 1.6;
}


/* #bloco-apresentacao p:last-of-type {
  font-size: 1.4em;
  font-weight: 500;
} */


button {
  background-color: #159b51;
  border: none;
  border-radius: 8px;
  padding: 12px 25px;
  font-size: 1em;
  margin-top: 15px;
}

button a {
  color: rgb(10, 10, 10);
  text-decoration: none;
  font-weight: bold;
}

button:hover {
  background-color:#b60505;
  cursor: pointer;
}


#social-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

#social-links li {
  display: inline;
}

#social-links a {
  font-size: 2em;
  color: #333;
  transition: color 0.3s ease;
}

#social-links a:hover {
  color: #b60505;
}
